.navbar {
  background-color: #ffffff;
  height: 140px; /* Fixed height for all devices */
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container inside navbar */
.navbar-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-logo img {
  height: 120px;
  width: auto;
}

/* Mobile menu icon */
.navbar-menu-icon {
  font-size: 30px;
  color: #d1a34e; /* Coffee color */
  display: none;
  cursor: pointer;
}

/* Navigation links */
.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #96712a;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.navbar-links ul li a:hover{
  color: #017043;
}

.navbar-links ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #017043;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.navbar-links ul li a:hover::after {
  width: 100%;
}

/* Cart */
.navbar-cart {
  display: flex;
  align-items: center;
}

.navbar-cart:hover {
  color: green; /* Changes to green on hover */
}

.navbar-cart a {
  display: flex;
  align-items: center;
  color: #96712a;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 16px;
}

.navbar-cart a:hover {
  color: green; /* Changes to green on hover */
}

.cart-icon {
  font-size: 40px;
  margin-right: 8px;
  color: #96712a; /* Default coffee color */
  transition: color 0.3s ease;
}

.cart-icon:hover {
  color: green; /* Changes to green on hover */
}

.cart-text {
  display: none;
}

@media (min-width: 768px) {
  .cart-text {
    display: block;
  }
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .navbar-menu-icon {
    display: block;
    z-index: 1000;
  }

  .navbar-links {
    position: fixed;
    top: 140px; /* Same as navbar height */
    left: 0;
    width: 100%;
    height: calc(100vh - 140px);
    background-color: rgba(210, 164, 38, 0.9); /* Chocolate transparent */
    color: #017043;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 20px 0;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 998;
  }

  .navbar-links.active {
    transform: translateX(0);
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 20px;
  }

  .navbar-links ul li a {
    color: #017043 !important;         /* White text only in mobile */
  }

  .navbar-links ul li a::after {
    background-color: #017043;         /* White underline only in mobile */
  }
}
