.custom-footer {
  position: relative;
  background-color: #96712a;
  color: #fff;
  padding: 2.5rem 1rem 1rem; /* Reduced padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* Let height adjust to content */
  overflow: hidden;
}

/* Shiny overlay */
.custom-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 30%,
    rgba(255, 255, 200, 0.15) 40%,
    transparent 70%
  );
  animation: shimmer 5s infinite linear;
  z-index: 1;
  pointer-events: none;
}



@keyframes shimmer {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
}

.custom-footer .top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.custom-footer .logo-and-description {
  margin-bottom: 2.5rem;
}

.custom-footer .contact-info {
  margin-bottom: 1.5rem;
}

.custom-footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.custom-footer .bottom-content {
  margin-top: auto;
  text-align: center;
  font-size: 1rem;
}

.policy-links a {
  transition: color 0.3s ease;
}

.policy-links a:hover {
  color: #fff59d;
}

